%% Good configuration file
%% obeys all the rules

%% comment out one of the module or client lines to generate
%% an error in the related tcp_port definition
{module,point_of_sale,pos}.
{module,stock,stock}.
{module,general_ledger,gl}.

{client,amco,amco}.
{client,bamco,bamco}.

{tcp_port,5000,{amco,point_of_sale}}.
{tcp_port,5001,{amco,stock}}.
{tcp_port,5002,{amco,general_ledger}}.
{tcp_port,5100,{bamco,general_ledger}}.

%% uncomment following line to cause a duplicate port number error
%{tcp_port,5000,{bamco,point_of_sale}}.